@model IEnumerable<DatosLoteria.Modelos.Serie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkSocioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkSorteoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FkSocioNavigation.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FkSorteoNavigation.IdSorteo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { sorteo = item.FkSorteo, item.Inicio }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
